.map {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.map-wrapper {
    width: 100%;
    display: block;
}

.google-map {
    height: 480px;
    width: 100%;
}
