%whiteBackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid white;
  transition: all 0.7s;
  text-decoration: none;

  p {
    color: white;
  }

  &:hover {
    cursor: pointer;
    background-color: white;

    p {
      color: black;
    }
  }
}
