footer {
    width: 100%;
    height: 220px;
    background-color: #000f;
    display: flex;
    justify-content: center;

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: white;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        color: white;
    }
}

.footer-wrapper {
    @extend %menuwrapper; // from style.scss
    height: 190px;
}

.footer-nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;

    a {
        text-decoration: none;

        p {
            transition: all 0.5s;
            &:hover {
                color: red;
            }
        }
    }
}

.footer-contact {
    button {
        width: 175px;
        height: 40px;
        @extend %whiteBackButton; // from templates.scss
    }
}
