header {
    height: 130px;
    display: flex;
    justify-content: center;

    h1 {
        font-size: 38px;
        font-weight: 400;
    }

    p {
        font-size: 22px;
        font-weight: 400;
    }
}

.header-wrapper {
    @extend %menuwrapper; // from style.scss
}

.header-nav {
    width: 40%;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;
        transition: all 0.5s;
        box-sizing: border-box;
        position: relative;

        &:hover {
            color: red;
        }
    }
}

.actions-menu {
    width: 10%;
    display: flex;
    justify-content: space-between;

    img {
        width: 30px;
        height: 30px;
    }

    &:hover {
        cursor: pointer;
    }
}
