@import "templates.scss";

@import "header.scss";

@import "home/swiper.scss";

@import "home/collections.scss";

@import "home/instagram.scss";

@import "aboutUs/description.scss";

@import "aboutUs/quote.scss";

@import "aboutUs/statistic.scss";

@import "contacts/map.scss";

body {
    margin: 0;
    background-color: #D1F4FF;
    font-family: 'Nunito Sans', sans-serif;
}

.main-content {
    width: 100%;
    height: 2070px;
}

.aboutUs {
    height: 2170px;
}

.container {
    h2 {
        font-size: 48px;
        font-weight: 400;
    }
}

@import "footer.scss";