@import "templates.scss";

@import "header.scss";

@import "home/swiper.scss";

body {
    margin: 0;
    background-color: #D1F4FF;
    font-family: 'Nunito Sans', sans-serif;
}

.main-content {
    width: 100%;
    height: 2070px;
}

@import "footer.scss";